.Header {
  padding: 1%;
  background-color: var(--color-black);
  color: white !important;
  .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white!important;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
